extends layout

block content
	div.body-inner-container
		div.nb-container
			h2#nb-header My Notebooks
			// button.btn.btn-large.btn-primary#nb-add-notebooks(href="#nb-add-notebooks-modal", role="button", data-toggle="modal") Add Photos
			div#nb-notebooks-container
				a(href="/notebooks-create")
					div#add-nb-notebook-img-container
						p#nb-add-notebook-text Add Notebook
	div.modal#notebook-modal.hide(tabindex="-1", role="dialog", aria-labelledby="photoModal", aria-hidden="true")
		div#pm-left-ctn
			img#pm-photo(src="#", finder="#")
			form#add-notebook-form-pm(method="POST", action="/notebook1")
				input#pm-img-url.hide(name="photo_url", value="")
				// input.btn#add-to-nb-btn-pm(type="submit", value="Add to Notebook", href='#photos-add-photos-modal', data-toggle='modal')
			div.pm-arrow-ctn#pm-arrow-left-ctn <span class="pm-arrow" id="pm-arrow-left">&lsaquo;</span>
			div.pm-arrow-ctn <span class="pm-arrow" id="pm-arrow-right">&rsaquo;</span>
			div.arrow-bg#arrow-bg
				img.arrow-expand#fullscreen(src="images/arrow_expand.png", title='View full screen');
			div.arrow-bg#full-arrow-bg.hide()
				button.close#fullscreen-close(type="button", data-dismiss="modal", aria-hidden="true", title='Exit full screen') ×
		div#pm-right-ctn
			button.close#photo-modal-close(type="button", data-dismiss="modal", aria-hidden="true") ×
			div#pm-right-ctn-inner
			div#pm-comment-container
				p#pm-add-comment-header <a>Add Comment</a>
				form#pm-add-comment-form.hide(method='POST', action='/comment')
					input#pm-user.hide(name='user', value="")
					input#pm-userFirst.hide(name='firstName', value="")
					input#pm-userLast.hide(name='lastName', value="")
					input#pm-photoUrl.hide(name='photo_url', value="")
					textarea#pm-comments-box.comments-box(rows='4', name='text')
					input.btn.btn-primary.add-comment-btn(type='submit', value='Submit')
				div#pm-comment-container-inner
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(type="text/javascript", src="/javascripts/script.js")
	script(type="text/javascript", src="jquery-cookie-master/jquery.cookie.js")
	script(type='text/javascript', src='jquery.html5-placeholder-shim.js')
	script(type="text/javascript", src="/javascripts/notebook.js")
	script(type="text/javascript", src="/javascripts/notebook-modal.js")
	script.
		var navLogin = !{JSON.stringify(navLogin)}
	script.
		var user = !{JSON.stringify(user)}
	script.
		var id = !{JSON.stringify(id)}
	script.
		var notebooks = !{JSON.stringify(notebooks)}
	script.
		var allComments = !{JSON.stringify(comments)}