extends layout

block content
	div.body-inner-container
		div.photo-page-container
			div.selection#page-1
				div.row-fluid.photo-display-container
					div.photo-img-container.span9						
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[0].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[0].url}")
							img.photo-img(src="#{photos[0].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[0].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[1].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[1].url}")
							img.photo-img(src="#{photos[1].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[1].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[2].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[2].url}")
							img.photo-img(src="#{photos[2].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[2].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[3].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[3].url}")
							img.photo-img(src="#{photos[3].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[3].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[4].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[4].url}")
							img.photo-img(src="#{photos[4].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[4].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[5].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[5].url}")
							img.photo-img(src="#{photos[5].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[5].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[6].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[6].url}")
							img.photo-img(src="#{photos[6].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[6].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[7].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[7].url}")
							img.photo-img(src="#{photos[7].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[7].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[8].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[8].url}")
							img.photo-img(src="#{photos[8].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[8].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[9].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[9].url}")
							img.photo-img(src="#{photos[9].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[9].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
			div.selection#page-2
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[10].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[10].url}")
							img.photo-img(src="#{photos[10].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[10].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[11].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[11].url}")
							img.photo-img(src="#{photos[11].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[11].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[12].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[12].url}")
							img.photo-img(src="#{photos[12].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[12].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[13].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[13].url}")
							img.photo-img(src="#{photos[13].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[13].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[14].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[14].url}")
							img.photo-img(src="#{photos[14].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[14].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[15].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[15].url}")
							img.photo-img(src="#{photos[15].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[15].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[16].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[16].url}")
							img.photo-img(src="#{photos[16].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[16].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[17].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[17].url}")
							img.photo-img(src="#{photos[17].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[17].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[18].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[18].url}")
							img.photo-img(src="#{photos[18].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[18].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[19].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[19].url}")
							img.photo-img(src="#{photos[19].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[19].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
			div.selection#page-3
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[20].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[20].url}")
							img.photo-img(src="#{photos[20].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[20].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[21].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[21].url}")
							img.photo-img(src="#{photos[21].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[21].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[22].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[22].url}")
							img.photo-img(src="#{photos[22].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[22].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[23].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[23].url}")
							img.photo-img(src="#{photos[23].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[23].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[24].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[24].url}")
							img.photo-img(src="#{photos[24].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[24].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[25].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[25].url}")
							img.photo-img(src="#{photos[25].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[25].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[26].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[26].url}")
							img.photo-img(src="#{photos[26].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[26].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[27].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[27].url}")
							img.photo-img(src="#{photos[27].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[27].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[28].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[28].url}")
							img.photo-img(src="#{photos[28].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[28].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[29].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[29].url}")
							img.photo-img(src="#{photos[29].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[29].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
			div.selection#page-4
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[30].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[30].url}")
							img.photo-img(src="#{photos[30].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[30].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[31].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[31].url}")
							img.photo-img(src="#{photos[31].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[31].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[32].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[32].url}")
							img.photo-img(src="#{photos[32].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[32].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[33].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[33].url}")
							img.photo-img(src="#{photos[33].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[33].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[34].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[34].url}")
							img.photo-img(src="#{photos[34].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[34].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[35].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[35].url}")
							img.photo-img(src="#{photos[35].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[35].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[36].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[36].url}")
							img.photo-img(src="#{photos[36].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[36].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[37].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[37].url}")
							img.photo-img(src="#{photos[37].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[37].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[38].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[38].url}")
							img.photo-img(src="#{photos[38].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[38].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[39].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[39].url}")
							img.photo-img(src="#{photos[39].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[39].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
			div.selection#page-5
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[40].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[40].url}")
							img.photo-img(src="#{photos[40].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[40].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[41].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[41].url}")
							img.photo-img(src="#{photos[41].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[41].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[42].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[42].url}")
							img.photo-img(src="#{photos[42].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[42].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[43].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[43].url}")
							img.photo-img(src="#{photos[43].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[43].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[44].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[44].url}")
							img.photo-img(src="#{photos[44].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[44].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[45].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[45].url}")
							img.photo-img(src="#{photos[45].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[45].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[46].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[46].url}")
							img.photo-img(src="#{photos[46].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[46].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[47].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[47].url}")
							img.photo-img(src="#{photos[47].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[47].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[48].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[48].url}")
							img.photo-img(src="#{photos[48].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[48].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[49].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[49].url}")
							img.photo-img(src="#{photos[49].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[49].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
			div.selection#page-6
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[50].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[50].url}")
							img.photo-img(src="#{photos[50].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[50].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[51].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[51].url}")
							img.photo-img(src="#{photos[51].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[51].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[52].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[52].url}")
							img.photo-img(src="#{photos[52].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[52].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[53].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[53].url}")
							img.photo-img(src="#{photos[53].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[53].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[54].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[54].url}")
							img.photo-img(src="#{photos[54].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[54].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[55].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[55].url}")
							img.photo-img(src="#{photos[55].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[55].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[56].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[56].url}")
							img.photo-img(src="#{photos[56].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[56].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[57].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[57].url}")
							img.photo-img(src="#{photos[57].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[57].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[58].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[58].url}")
							img.photo-img(src="#{photos[58].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[58].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						button.btn-large.btn-primary.save-btn.hide() Save
						form.add-notebook-form(method="POST", action="/notebook2")
							input#img-url.hide()(name="image_url", value="#{photos[59].url}")
							input.btn.add-to-nb-btn(type="submit", value="Note")
						a(href="#{photos[59].url}")
							img.photo-img(src="#{photos[59].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[59].liked} Notebooks
						div.comment-container
							// p.add-comment(href="#") + Add Comment
			// div#photos-pagination-ny
	div#signup-cta-modal-2.modal(tabindex="-1", role="dialog", aria-labelledby="signupCtaModal", aria-hidden="true")
		div#signup-cta-modal-container-2
			p#signup-cta-modal-sub-2 Sign up. It's free.
			div#signup-cta-btn-container-2
				a(href="signup")
					button.btn-large.btn-primary#signup-cta-btn-2 Sign up
	//
		div#signup-cta-modal.hide.modal(tabindex="-1", role="dialog", aria-labelledby="signupCtaModal", aria-hidden="true")
			div.row-fluid#signup-cta-modal-container
				div.span7
					h2#signup-cta-modal-header Seven Albums
					p#signup-cta-modal-sub Great photos of shops
				div.span5
					a(href="/")
						button.btn-large.btn-primary#signup-cta-btn Sign up
	div#signup-modal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="signupModal", aria-hidden="true")
		div.modal-body#signup-modal-container
			button.close#nb-photos-modal-close(type="button", data-dismiss="modal", aria-hidden="true") ×
			div#landing-welcome
				h1#landing-header Seven Albums
				p#landing-sub-header Find ideas and inspiration for your store
			div#landing-content
				h3#signup-free-sub Sign up for your free account
				a(href="signup")
					button.btn-large.btn-primary#signup-modal-btn Sign up
				div.signup-modal-footer
					p Already have an account? <a href="login">Log in now</a>
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(type="text/javascript", src="/javascripts/signin.js")
	script(type="text/javascript", src="/javascripts/loggedin.js")
	script(type="text/javascript", src="jquery-cookie-master/jquery.cookie.js")
	script(type='text/javascript', src='jquery.html5-placeholder-shim.js')
	script(type="text/javascript", src="/javascripts/photos.js")
	script(type="text/javascript", src="/javascripts/photos-ny.js")
	script.
		var navLogin = !{JSON.stringify(navLogin)}
	script.
		var photos = !{JSON.stringify(photos)}
	script.
		var user = !{JSON.stringify(user)}