extends layout

block content
	script(type="text/javascript", src="/javascripts/photos.js")
	script(type="text/javascript", src="/javascripts/photos-ny.js")
	script.
		var navLogin = !{JSON.stringify(navLogin)}
	script.
		var photos = !{JSON.stringify(photos)}
	div.body-inner-container
		div.photo-page-container
			div.selection#page-1
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[0].url}", target="_blank")
							img.photo-img(src="#{photos[0].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[0].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[0].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
						//
							div.source-container
								a.source(href="http://superfuture.com/supernews/london-a-p-c-store-relocation") http://superfuture.com/supernews/london-a-p-c-store-relocation
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[1].url}", target="_blank")
							img.photo-img(src="#{photos[1].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[1].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[1].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[2].url}", target="_blank")
							img.photo-img(src="#{photos[2].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[2].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[2].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[3].url}", target="_blank")
							img.photo-img(src="#{photos[3].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[3].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[3].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[4].url}", target="_blank")
							img.photo-img(src="#{photos[4].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[4].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[4].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[5].url}", target="_blank")
							img.photo-img(src="#{photos[5].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[5].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[5].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[6].url}", target="_blank")
							img.photo-img(src="#{photos[6].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[6].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[6].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[7].url}", target="_blank")
							img.photo-img(src="#{photos[7].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[7].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[7].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[8].url}", target="_blank")
							img.photo-img(src="#{photos[8].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[8].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[8].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[9].url}", target="_blank")
							img.photo-img(src="#{photos[9].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[9].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[9].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
			div.selection#page-2.hide()
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[10].url}", target="_blank")
							img.photo-img(src="#{photos[10].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[10].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[10].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[11].url}", target="_blank")
							img.photo-img(src="#{photos[11].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[11].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[11].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[12].url}", target="_blank")
							img.photo-img(src="#{photos[12].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[12].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[12].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[13].url}", target="_blank")
							img.photo-img(src="#{photos[13].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[13].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[13].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[14].url}", target="_blank")
							img.photo-img(src="#{photos[14].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[14].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[14].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[15].url}", target="_blank")
							img.photo-img(src="#{photos[15].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[15].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[15].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[16].url}", target="_blank")
							img.photo-img(src="#{photos[16].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[16].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[16].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[17].url}", target="_blank")
							img.photo-img(src="#{photos[17].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[17].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[17].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[18].url}", target="_blank")
							img.photo-img(src="#{photos[18].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[18].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[18].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[19].url}", target="_blank")
							img.photo-img(src="#{photos[19].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[19].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[19].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
			div.selection#page-3.hide()
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[20].url}", target="_blank")
							img.photo-img(src="#{photos[20].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[20].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[20].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[21].url}", target="_blank")
							img.photo-img(src="#{photos[21].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[21].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[21].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[22].url}", target="_blank")
							img.photo-img(src="#{photos[22].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[22].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[22].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[23].url}", target="_blank")
							img.photo-img(src="#{photos[23].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[23].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[23].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[24].url}", target="_blank")
							img.photo-img(src="#{photos[24].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[24].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[24].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[25].url}", target="_blank")
							img.photo-img(src="#{photos[25].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[25].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[25].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[26].url}", target="_blank")
							img.photo-img(src="#{photos[26].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[26].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[26].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[27].url}", target="_blank")
							img.photo-img(src="#{photos[27].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[27].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[27].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[28].url}", target="_blank")
							img.photo-img(src="#{photos[28].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[28].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[28].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[29].url}", target="_blank")
							img.photo-img(src="#{photos[29].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[29].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[29].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
			div.selection#page-4.hide()
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[30].url}", target="_blank")
							img.photo-img(src="#{photos[30].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[30].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[30].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[31].url}", target="_blank")
							img.photo-img(src="#{photos[31].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[31].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[31].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[32].url}", target="_blank")
							img.photo-img(src="#{photos[32].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[32].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[32].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[33].url}", target="_blank")
							img.photo-img(src="#{photos[33].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[33].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[33].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[34].url}", target="_blank")
							img.photo-img(src="#{photos[34].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[34].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[34].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[35].url}", target="_blank")
							img.photo-img(src="#{photos[35].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[35].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[35].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[36].url}", target="_blank")
							img.photo-img(src="#{photos[36].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[36].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[36].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[37].url}", target="_blank")
							img.photo-img(src="#{photos[37].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[37].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[37].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[38].url}", target="_blank")
							img.photo-img(src="#{photos[38].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[38].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[38].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[39].url}", target="_blank")
							img.photo-img(src="#{photos[39].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[39].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[39].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
			div.selection#page-5.hide()
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[40].url}", target="_blank")
							img.photo-img(src="#{photos[40].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[40].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[40].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[41].url}", target="_blank")
							img.photo-img(src="#{photos[41].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[41].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[41].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[42].url}", target="_blank")
							img.photo-img(src="#{photos[42].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[42].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[42].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[43].url}", target="_blank")
							img.photo-img(src="#{photos[43].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[43].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[43].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[44].url}", target="_blank")
							img.photo-img(src="#{photos[44].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[44].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[44].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[45].url}", target="_blank")
							img.photo-img(src="#{photos[45].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[45].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[45].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[46].url}", target="_blank")
							img.photo-img(src="#{photos[46].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[46].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[46].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[47].url}", target="_blank")
							img.photo-img(src="#{photos[47].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[47].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[47].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[48].url}", target="_blank")
							img.photo-img(src="#{photos[48].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[48].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[48].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[49].url}", target="_blank")
							img.photo-img(src="#{photos[49].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[49].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook")
							input.hide()(name="image_url", value="#{photos[49].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							p.add-comment(href="#") + Add Comment
			div#photos-pagination