extends layout

block content
	script(type="text/javascript", src="/javascripts/photos.js")
	script(type="text/javascript", src="/javascripts/photos-bou.js")
	script.
		var navLogin = !{JSON.stringify(navLogin)}
	script.
		var photos = !{JSON.stringify(photos)}
	div.body-inner-container
		div.photo-page-container
			div.selection#page-1
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[50].url}")
							img.photo-img(src="#{photos[50].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[50].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[50].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[51].url}")
							img.photo-img(src="#{photos[51].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[51].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[51].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[52].url}")
							img.photo-img(src="#{photos[52].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[52].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[52].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[53].url}")
							img.photo-img(src="#{photos[53].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[53].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[53].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[54].url}")
							img.photo-img(src="#{photos[54].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[54].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[54].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[55].url}")
							img.photo-img(src="#{photos[55].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[55].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[55].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[56].url}")
							img.photo-img(src="#{photos[56].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[56].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[56].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[57].url}")
							img.photo-img(src="#{photos[57].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[57].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[57].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[58].url}")
							img.photo-img(src="#{photos[58].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[58].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[58].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[59].url}")
							img.photo-img(src="#{photos[59].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[59].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[59].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
			div.selection#page-2
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[10].url}")
							img.photo-img(src="#{photos[60].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[60].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[60].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[61].url}")
							img.photo-img(src="#{photos[61].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[61].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[61].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[62].url}")
							img.photo-img(src="#{photos[62].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[62].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[62].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[63].url}")
							img.photo-img(src="#{photos[63].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[63].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[63].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[64].url}")
							img.photo-img(src="#{photos[64].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[64].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[64].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[65].url}")
							img.photo-img(src="#{photos[65].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[65].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[65].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[66].url}")
							img.photo-img(src="#{photos[66].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[66].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[66].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[67].url}")
							img.photo-img(src="#{photos[67].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[67].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[67].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[68].url}")
							img.photo-img(src="#{photos[68].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[68].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[68].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[69].url}")
							img.photo-img(src="#{photos[69].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[69].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[69].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
			div.selection#page-3
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[70].url}")
							img.photo-img(src="#{photos[70].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[70].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[70].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[71].url}")
							img.photo-img(src="#{photos[71].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[71].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[71].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[72].url}")
							img.photo-img(src="#{photos[72].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[72].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[72].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[73].url}")
							img.photo-img(src="#{photos[73].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[73].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[73].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[74].url}")
							img.photo-img(src="#{photos[74].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[74].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[74].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[75].url}")
							img.photo-img(src="#{photos[75].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[75].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[75].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[76].url}")
							img.photo-img(src="#{photos[76].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[76].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[76].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[77].url}")
							img.photo-img(src="#{photos[77].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[77].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[77].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[78].url}")
							img.photo-img(src="#{photos[78].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[78].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[78].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[79].url}")
							img.photo-img(src="#{photos[79].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[79].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[79].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
			div.selection#page-4
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[80].url}")
							img.photo-img(src="#{photos[80].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[80].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[80].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[81].url}")
							img.photo-img(src="#{photos[81].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[81].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[81].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[82].url}")
							img.photo-img(src="#{photos[82].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[82].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[82].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[83].url}")
							img.photo-img(src="#{photos[83].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[83].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[83].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[84].url}")
							img.photo-img(src="#{photos[84].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[84].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[84].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[85].url}")
							img.photo-img(src="#{photos[85].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[85].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[85].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[86].url}")
							img.photo-img(src="#{photos[86].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[86].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[86].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[87].url}")
							img.photo-img(src="#{photos[87].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[87].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[87].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[88].url}")
							img.photo-img(src="#{photos[88].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[88].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[88].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[89].url}")
							img.photo-img(src="#{photos[89].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[89].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[89].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
			div.selection#page-5
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[90].url}")
							img.photo-img(src="#{photos[90].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[90].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[90].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[91].url}")
							img.photo-img(src="#{photos[91].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[91].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[91].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[92].url}")
							img.photo-img(src="#{photos[92].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[92].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[92].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[93].url}")
							img.photo-img(src="#{photos[93].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[93].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[93].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[94].url}")
							img.photo-img(src="#{photos[94].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[94].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[94].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[95].url}")
							img.photo-img(src="#{photos[95].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[95].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[95].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[96].url}")
							img.photo-img(src="#{photos[96].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[96].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[96].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[97].url}")
							img.photo-img(src="#{photos[97].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[97].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[97].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[98].url}")
							img.photo-img(src="#{photos[98].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[98].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[98].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
				div.row-fluid.photo-display-container
					div.photo-img-container.span9
						a(href="#{photos[99].url}")
							img.photo-img(src="#{photos[99].url}")
					div.photo-content-container.span3
						p.notebook-count #{photos[99].liked} Notebooks
						form.add-notebook-form(method="POST", action="/notebook1")
							input.hide()(name="image_url", value="#{photos[99].url}")
							input.add-notebook(type="submit", value="+ Add to Notebook") 
						div.comment-container
							// p.add-comment(href="#") + Add Comment
			// div#photos-pagination