extends layout

block content
	div.body-inner-container
		div#create-profile-body-container
			h1.create-profile-header Update Profile
			form#create-profile-form(method="POST", action="/create-pro-profile", enctype="multipart/form-data")
				div.row-fluid
					div.span6#create-profile-content-left
						h3 Upload Profile Picture
						div#choose-file-container
							btn.btn.btn-primary.btn-large#choose-file-btn Choose File
							input#choose-file-input(name="profilePic", type="file")
						div#create-profile-photo-container-empty.hide
						div#create-profile-photo-container(style='background-image: url(#{user.profilePic})')
							img.profile-photo(src=user.profilePic)
					div.span6#create-profile-content-right
						h3 Profile Details <span class="create-profile-optional">(optional)</span>
						p
							label.create-profile-label(for="title") Title
							input.create-profile-input(name="title", type="text", placeholder="e.g. Design Consultant, MDC Design", value=user.title)
						p
							label.create-profile-label(for="website") Website
							input.create-profile-input(name="website", type="text", value=user.website)
						p
							label.create-profile-label(for="description") Description
							textarea.create-profile-input-textarea#description-ta(type="textarea", rows="6", name="description", placeholder="Enter a short bio...")
						h3 Contact Info <span class="create-profile-optional">(optional)</span>
						p
							label.create-profile-label(for="number") Phone Number
							input.create-profile-input(name="number", type="text", value=user.number)
						p
							label.create-profile-label(for="address") Address
							textarea.create-profile-input-textarea#address-ta(name="address", type="textarea", rows="3")
						input.hide(name="pro", value="true")
						div.signup-center-container
							button#signup-sign-up-btn.btn.btn-large.btn-primary(type="submit") Update My Profile
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(type="text/javascript", src="/javascripts/script.js")
	script(type="text/javascript", src="jquery-cookie-master/jquery.cookie.js")
	script(type='text/javascript', src='jquery.html5-placeholder-shim.js')
	script(type="text/javascript", src="/javascripts/profiles.js")
	script.
		var navLogin = !{JSON.stringify(navLogin)}
	script.
		var user = !{JSON.stringify(user)}