extends layout

block content
	div.body-inner-container
		div.profile-container
			div.profile-content-container.row-fluid
				div.profile-left-container.span4
					div.border-container
						div.profile-photo-container(style='background-image: url(#{user.profilePic})')
							img.profile-photo(src=user.profilePic)
				div#profile-right-container.span8
					div.row-fluid
						div#profile-right-container-left.span9
							div.profile-details-container
								div#profile-primary-details-container
									h4.profile-name #{user.firstName} #{user.lastName}
									p.profile-title #{user.title}
									a.profile-website(href="http://" + user.website, target="_blank") #{user.website}
								div#profile-description-container
									div#user-description
						div#profile-right-container-right.span3
							div.profile-contact-container
								h4.profile-contact-header Contact #{user.firstName}
								a.profile-contact-email(href="mailto:" + user.email, target="_blank") #{user.email}
								p.profile-contact-number #{user.number}
								p.profile-contact-address #{user.address}
					div#profile-notebook-container
						h4#notebook-header #{user.firstName}'s Notebooks
						div#profile-nb-container
							div#profile-nb-photos-container
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/bootstrap/js/bootstrap.min.js')
	script(type="text/javascript", src="/javascripts/script.js")
	script(type="text/javascript", src="jquery-cookie-master/jquery.cookie.js")
	script(type='text/javascript', src='jquery.html5-placeholder-shim.js')
	script(type='text/javascript', src='Readmore.js-master/readmore.min.js')
	script(type="text/javascript", src="/javascripts/profile-notebook.js")
	script(type="text/javascript", src="/javascripts/notebook-modal.js")
	script.
		var navLogin = !{JSON.stringify(navLogin)}
	script.
		var user = !{JSON.stringify(user)}
	script.
		var photos = !{JSON.stringify(photos)}